body{
    background-color: rgb(68, 30, 150);
}



.header{
    background-color: aqua;
    color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    position: sticky;
}
.links a{
    text-decoration: none;
    font-size: 20px;
    color: white;

    text-align: center;
}
.links{
    text-align: center;
}
.links img{
    position: relative;
    right: 650px;

}
.links button{
    position: relative;
}
.main{
    background-color: rgb(90, 27, 148);
    margin: 20px;
    border-radius: 15px;
}

.main h1{
    position: relative;
    color:  white;
    left: 20px;
    top: 10px;
}
.main img{
    width: 700px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    left: 620px;
}

.main h2{
    color: white;
}
.card-1{
    background-color: rgb(218, 134, 9);
    width: 270px;
    height: 345px;
    text-align: center;
    border-radius: 15px;
}
.card-1 img{
    width: 200px;
    height: 150px;
     
}

.card-1 h1{
    font-size: 22px;
    position: relative;
    right: 5px;
    margin-right: 40px;
}
.card-1 p{
    color: white;
    position: relative;
    top: 10px;
}
.card-1 button{
    border-radius: 15px;
    padding: 15px;
}

